<%- include('../partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (!user) { %>
      <p>LogIn to track your favorite pitchers!</p>
    <% } %>
    <a href="/pitchers/new">Add Pitcher</a>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th>Jersey Number</th>
          <th>Throws</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% pitchers.forEach(function(pitcher) { %>
        <tr>
          <td><%= pitcher.firstName %> <%= pitcher.lastName %></td>
          <td><%= pitcher.team %></td>
          <td><%= pitcher.jerseyNo %></td>
          <td><%= pitcher.throws %></td>
          <td><a href="/pitchers/<%= pitcher._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>